.footer {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 94.3%;
    }

    &-contact {
        display: flex;

        &__link {
            color: $font-color-accent;
            text-decoration: none;
        }
    }

    &__social-media {
        display: flex;
        justify-content: space-between;
        width: 13rem;
    }

    &__icons-container {
        display: flex;
        justify-content: space-between;
        width: 50%;

    }

    &__social-link {}

    &__icon {
        opacity: 0.5;
        width: 60%;
        transition: .5s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}