.grid {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 5rem 0;


    @media (min-width: $tablet) and (max-width: $tablet-landscape) {
        height: 51rem;
    }

    @media (min-width:$tablet-landscape) and (max-width: $desktop-small) {
        height: 73rem;
    }

    @media (min-width:$desktop-small) and (max-width: $desktop-medium) {
        height: 58vh;
    }

    @media (min-width: $desktop-big) {
        height: 65vh;
    }

    @media (min-width: $desktop-2k) {
        height: 55vh;
    }

    &__element {
        border: 0rem solid $hoover-border;
        cursor: pointer;
        width: 80%;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0 0 2rem 0;
        transition: .5s ease-in-out;
        position: relative;
        opacity: 1;
        padding: 0;

        &:hover {
            border: 1rem solid $hoover-border;
            opacity: 0.5;
        }

        @media (min-width: $tablet) and (max-width: $desktop-small) {
            margin: 3%;
            width: 43%;
        }

        @media (min-width: $desktop-small) {
            margin: 3%;
            width: 25%;
        }
    }

    &__img {
        width: 100%;
    }


    &__text {
        text-transform: capitalize;
        text-align: center;
        line-height: 2;
        color: $font-color-secondary;
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        transition: .5s ease-in-out;

        @media (min-width: $tablet-landscape) and (max-width: $desktop-small) {
            font-size: 3.5rem;
        }

        @media (min-width: $desktop-medium) and (max-width: $desktop-big) {
            font-size: 4rem;
        }

        @media all and (min-width: $desktop-2k) {
            font-size: 2.8rem;
        }

    }
}