.nav {

    &__desktop {
        display: none;

        @media all and (min-width: $tablet-landscape) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__mobile {
        visibility: hidden;
    }

    &__element {
        padding: 1rem;
    }

    &__link {
        font-size: 1.2rem;
        position: relative;
        text-decoration: none;
        color: $font-color-accent;
        opacity: 0.5;
        transition: 0.4s ease-in-out;


        &:hover {
            opacity: 1;

        }

        &::after {
            content: ' ';
            position: absolute;
            width: 0%;
            bottom: -9px;
            left: 0;
            height: 2px;
            background-color: $border-color-accent;
            border-radius: 11px;
            transition: 0.2s width cubic-bezier(0, 0, 0.82, 0.37);
        }

        &:hover:after {
            width: 80%;
            height: 2px;
        }
    }
}

.active {
    opacity: 1;

    &::after {
        content: ' ';
        position: absolute;
        width: 0%;
        bottom: -9px;
        left: 0;
        height: 2px;
        background-color: $border-color-accent;
        border-radius: 11px;
        transition: 0.2s width cubic-bezier(0, 0, 0.82, 0.37);
        width: 80%;
        height: 2px;
    }
}