$bg-color: #eef8f6;
$font-color-primary: #afb5bf;
$font-color-secondary: #fff;
$font-color-accent: #27354f;
//pictures
$hoover-border: #ffe1b5;

//scroll colors
$scroll-thumb-color: #afb5bf;

//border colors
$border-color-primary: #afb5bf;
$border-color-secondary: #fff;
$border-color-accent: #27354f;