* {
    box-sizing: border-box;
}

html,
body {
    font-family: $primary-font-family;
}

html {
    font-size: 13px;
    color: $font-color-primary;

    @media (min-width: $tablet-landscape) and (max-width: $desktop-medium) {
        font-size: 11px;
    }

    @media (min-width: $desktop-big) {
        font-size: 12px;
    }

    @media (min-width: $desktop-2k) {
        font-size: 15px;
    }
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}