* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    color: $font-color-primary;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}