* {
    box-sizing: border-box;
}

html,
body {
    font-family: $primary-font-family;
}

html {
    font-size: 13px;
    color: $font-color-primary;

    @media (min-width: $desktop-small) and (max-width: $desktop-medium) {
        font-size: 15px;
    }

    @media (min-width: $desktop-medium) {
        font-size: 18px;
    }
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}