// //Device-size

$phone-small: 320px;
$phone: 480px;
$phone-big: 560px;
$tablet: 768px;

$tablet-landscape: 1024px;

$desktop-small: 1280px;
$desktop-medium: 1440px;

$desktop-big: 1920px;

$desktop-2k: 2000px;