@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

$bg-color: #eef8f6;

//pictures
$hoover-border: #ffe1b5;

//scroll colors
$scroll-thumb-color: #afb5bf;
$scroll-bg-color: #eef8f6;

//border colors
$border-color-primary: #afb5bf;
$border-color-secondary: #fff;
$border-color-accent: #27354f;

//fonts
$font-color-primary: #afb5bf;
$font-color-secondary: #fff;
$font-color-accent: #27354f;

$primary-font-family: 'Open Sans',
sans-serif;
$secondary-font-family: 'Lora',
serif;