.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 5% 2.79% 5%;
    height: 100%;
    width: 100%;
}

.main {
    background: $bg-color;
    display: flex;
    justify-content: center;
    height: inherit;
    width: inherit;
    margin: 5rem 0 2.5rem 0;

    @media all and (min-width: $tablet-landscape) {
        margin: 0rem 0 2.5rem 0;
    }
}