.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
}

.main {
    background: $bg-color;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0rem 0 2.5rem 0;

    @media all and (min-width: $tablet-landscape) {
        margin: 0rem 0 2.5rem 0;
    }
}

.container__content {
    display: flex;
    flex-direction: column;

    @media all and (min-width: $desktop-small) and (max-width: $desktop-medium) {
        display: flex;

        width: 90%;
    }

    @media all and (min-width: $desktop-big) {
        display: flex;

        width: 73%;
        overflow: hidden;
    }
}