@import './base/reset';
@import './base/variables';
@import './base/scroll';
@import './base/media-queries';
@import './base/config';

//components
@import './containers/container';
@import './components/article';
@import './components/header';
@import './components/grid';
@import './components/btn';
@import './components/footer';


.nav {
    &__desktop {
        display: none;

        @media all and (min-width: $tablet-landscape) {
            display: block;
        }
    }

    &__mobile {
        visibility: hidden;
    }

    &__element {}
}